*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body { 
  
    background-color: whitesmoke;
}

.page-action-cont {
    height : 3rem;
    background-color: #079992;
    display:  flex;
    justify-content: flex-start;
    align-items:center;
    color : white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-action {
    margin : 0.5rem;

}
.page-action:hover {    
    cursor  : pointer
}

.cellprops-actions-cont {
    height : 3rem;
    background-color: #bdc3c7;
    display : flex;
    align-items: center;
    justify-content: flex-start;

}
.cellprops-actions-cont > *{
    display : inline-block;
    margin-left : 10px;
    cursor : pointer;
    /* font-size: 30px; */
}

.cellprops-actions-cont select {
    border-radius: 10px;
    padding : 3px;
    font-size: 13px;
    background-color: #bdc3c7;
    outline: none;
    /* border: none; */
    
}

.formula-action-cont {
    height : 2rem;
    background-color: #bdc3c7;
    display : flex;
    align-items: center;
}
.address-bar {
    width : 5rem;
    margin : 0 .7rem;
    border : none;
    outline : none;
    height : 1.4rem;
    border-radius: 3%;
    text-align: center;
}
.formula-fx{
    height : 2rem;
    width : 2rem;
    padding : 2px;
}
.formula-bar {
    margin :  0 5px;
    width : calc(100vw  - 2rem - 5rem);
    border-radius: 3%;
    height : 1.4rem;
    outline : none;
    border : none ;
}


/* sheet container  */

.sheet-cont {
    height : 3rem;
    background-color: #bdc3c7;
    display : flex;
    align-items: center;
    padding : 8px;
}
.sheet-add-icon {
    height : 2rem;
    width : 2rem;
    display : flex;
    align-items: center;
}
.sheet-folder-cont {
    width : calc(100vw - 2rem);
    height : 80%;
    padding : 5px;
    margin : 10px;
    /* background-color: white; */
    text-decoration: underline 2px;
    font-size: 18px;
    letter-spacing: .3px;
    word-spacing: .5px;
    display : flex;
    align-items: center;
    font-weight: 700;
}

/* grid container  */
.grid-cont {
    height : calc(100vh - 2rem - 3rem - 3rem - 3rem);
    position : relative;
    overflow: scroll;
    background-color: #bdc3c7;
}
.top-left-dummy {
    height : 2rem;
    width : 2rem;
    background-color: rgb(129, 126, 126);
    position : fixed;
    z-index: 9;
}

.address-col-cont {
   /* height : calc(100% - 2rem);
   width : 2rem; */
   position : sticky;
   top : 2rem;
   left : 0px;
}
.cells-cont {
    position : absolute;
    top : 0px;
    left : 2rem;
    
}
.address-row-cont{
    height : 2rem;
    
    /* border : 2px solid blue; */
    display : flex;
    position : sticky;
    top : 0px;
    left : 2rem;
    z-index: 4;
}
.address-row {
    height : 2rem;
    width : 5rem;
    display : flex;
    justify-content: center;
    align-items: center;
    border : 1px solid white;
    
}
.address-col {
    height : 2rem;
    width : 2rem;
    display : flex;
    justify-content: center;
    align-items: center;
    border : 1px solid rgba(255, 254, 254, 0.719);
    /* background-color: yellow; */
}

.row-cont {
    display : flex;
}
.cell {
    height : 2rem;
    width : 5rem;
    border : 1px solid white;
    /* z-index: 6;  */
    cursor : crosshair;
    outline : none;
}


/* color property  */
.color-prop {
    position : relative;

}
.color-prop > input{
    opacity : 0;
    position : absolute;
    top : 0;
    left : 0;
    height : 100%;
    width : 100%;
}


/* .justify {
    display : none;
    justify-content: center;
    align-items: center;
} */